@{
    ViewBag.Title = "About";
}
<br />
<div class="Next text-center">
    <br />
    <h1 class="testo">Acerca de Nosotros</h1>
    <br />
</div>

<div>
    <br />
    <h4 class="text-justify col-md-12">
        Somos una pagina pequena en desarrollo la cual tiene como objetivo el brindar
        y comunicar los proximos eventos que se vayan a presentar en las ciudades del pais 
        de diferentes categorias, desde deportivo y musicales hasta obras de teatro  y eventos
        de comedia, entre otros muchos mas. Espero y te quedes con nosotros, disfruta de nuestro contenido!.
    </h4>

    <img class="logo" src="~/IMG/logo.JPG" alt="Logo de la Pagina" />
</div>
