@{
    ViewBag.Title = "Contactanos";
}
<br />
<div class="Next text-center">
    <br />
    <h1 class="testo">Contactanos</h1>
    <br />
</div>

<div>
    <br />
    <h4 class="text-justify">¿Quieres conocer todos los eventos proximos en tu ciudad? 
    <br /> siguienos en nuestras redes sociales!</h4>
</div>


<div class="acomodo1">

    <div class="contacto1">
        <a href="http://www.facebook.com"><img class="imgTam" src="~/IMG/FB.PNG" alt="Facebook" /></a>
</div>

    <div class="contacto2">
        <a href="http://www.twitter.com"><img class="imgTam" src="~/IMG/pajaro.PNG" alt="Twitter" /></a>

</div>

    <div class="contacto3">
        <a href="http://www.whatsapp.com"><img class="imgTam" src="~/IMG/WHATSAPP.PNG" alt="Whatsapp" /></a>
    </div>

</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />


@*
<div class="nota2 text-center">
    <br />
    <h2>Siguenos en Nuestras Redes!</h2>
</div>

    *@