@model EVENTOS.Models.Ciudad

@{
    ViewBag.Title = "Delete";
}

    <div class="text-center Fondo8">
        <br /><br />
        <h1>Eliminacion de una Ciudad</h1>
        <hr class="uno" />
    </div>

<div>
    <br>
    <dl class="dl-horizontal">
        <dt>
            <br />
            <h2>¿Estas seguro de eliminar la ciudad de "@Html.DisplayFor(model => model.NombreCiudad)"?</h2>
</dt>

  

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <br /><br /><br />
    <div class="form-actions no-color">
        @Html.ActionLink("Volver a la Lista de Eventos", "Index", null, new { @class = "Volver9 btn btn-lg btn-outline-info" }) 
        <input type="submit" value="Eliminar de esta Ciudad" class="btnQuitar btn-lg btn-outline-danger" /> 
    </div>
    }
</div>
